In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ns

In [17]:
df=pd.read_csv("/Users/aryangalande/Downloads/Churn_Modelling.csv")

In [18]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [20]:
df = pd.get_dummies(df, columns=['Gender','Geography'])

In [21]:
df.shape

(10000, 14)

In [22]:
df.dtypes

CreditScore            int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Gender_Female           bool
Gender_Male             bool
Geography_France        bool
Geography_Germany       bool
Geography_Spain         bool
dtype: object

In [23]:
def min_max_normalize( name ):
    global df
    df[name] = df[name].astype( 'float32' )
    df[ name ] = (df[ name ] - df[ name ].min()) / ( df[ name ].max() - df[ name ].min() )

cols = ["CreditScore", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "EstimatedSalary"]
for col in cols:
    min_max_normalize(col)

In [24]:
from sklearn.model_selection import train_test_split

X = df.drop(["Exited"], axis=1).to_numpy().astype('float32')
y = df["Exited"].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(7000, 13)
(7000,)
(3000, 13)
(3000,)

In [25]:
from keras.models import Sequential
from keras.layers import Dense

In [26]:
model = Sequential()
model.add(Dense(activation='relu', units=32))
model.add(Dropout(0.5))
model.add(Dense(activation='relu', units=8))
model.add(Dense(activation='sigmoid', units=1))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=10, epochs=50)

Epoch 1/50
700/700 [==============================] - 0s 347us/step - loss: 0.5132 - accuracy: 0.7921
Epoch 2/50
700/700 [==============================] - 0s 326us/step - loss: 0.4728 - accuracy: 0.7939
Epoch 3/50
700/700 [==============================] - 0s 328us/step - loss: 0.4565 - accuracy: 0.7966
Epoch 4/50
700/700 [==============================] - 0s 323us/step - loss: 0.4448 - accuracy: 0.8067
Epoch 5/50
700/700 [==============================] - 0s 322us/step - loss: 0.4403 - accuracy: 0.8087
Epoch 6/50
700/700 [==============================] - 0s 324us/step - loss: 0.4364 - accuracy: 0.8096
Epoch 7/50
700/700 [==============================] - 0s 322us/step - loss: 0.4350 - accuracy: 0.8114
Epoch 8/50
700/700 [==============================] - 0s 321us/step - loss: 0.4327 - accuracy: 0.8104
Epoch 9/50
700/700 [==============================] - 0s 326us/step - loss: 0.4316 - accuracy: 0.8136
Epoch 10/50
700/700 [==============================] - 0s 408us/step - loss: 0.4310 - accuracy: 0.8114
Epoch 11/50
700/700 [==============================] - 0s 327us/step - loss: 0.4298 - accuracy: 0.8111
Epoch 12/50
700/700 [==============================] - 0s 324us/step - loss: 0.4285 - accuracy: 0.8140
Epoch 13/50
700/700 [==============================] - 0s 324us/step - loss: 0.4270 - accuracy: 0.8133
Epoch 14/50
700/700 [==============================] - 0s 324us/step - loss: 0.4265 - accuracy: 0.8141
Epoch 15/50
700/700 [==============================] - 0s 323us/step - loss: 0.4254 - accuracy: 0.8150
Epoch 16/50
700/700 [==============================] - 0s 322us/step - loss: 0.4249 - accuracy: 0.8174
Epoch 17/50
700/700 [==============================] - 0s 326us/step - loss: 0.4233 - accuracy: 0.8171
Epoch 18/50
700/700 [==============================] - 0s 323us/step - loss: 0.4224 - accuracy: 0.8170
Epoch 19/50
700/700 [==============================] - 0s 324us/step - loss: 0.4217 - accuracy: 0.8180
Epoch 20/50
700/700 [==============================] - 0s 326us/step - loss: 0.4207 - accuracy: 0.8213
Epoch 21/50
700/700 [==============================] - 0s 322us/step - loss: 0.4200 - accuracy: 0.8197
Epoch 22/50
700/700 [==============================] - 0s 327us/step - loss: 0.4188 - accuracy: 0.8209
Epoch 23/50
700/700 [==============================] - 0s 330us/step - loss: 0.4179 - accuracy: 0.8213
Epoch 24/50
700/700 [==============================] - 0s 323us/step - loss: 0.4174 - accuracy: 0.8203
Epoch 25/50
700/700 [==============================] - 0s 327us/step - loss: 0.4165 - accuracy: 0.8241
Epoch 26/50
700/700 [==============================] - 0s 322us/step - loss: 0.4169 - accuracy: 0.8246
Epoch 27/50
700/700 [==============================] - 0s 323us/step - loss: 0.4155 - accuracy: 0.8220
Epoch 28/50
700/700 [==============================] - 0s 324us/step - loss: 0.4155 - accuracy: 0.8260
Epoch 29/50
700/700 [==============================] - 0s 385us/step - loss: 0.4138 - accuracy: 0.8239
Epoch 30/50
700/700 [==============================] - 0s 322us/step - loss: 0.4140 - accuracy: 0.8244
Epoch 31/50
700/700 [==============================] - 0s 326us/step - loss: 0.4131 - accuracy: 0.8256
Epoch 32/50
700/700 [==============================] - 0s 332us/step - loss: 0.4124 - accuracy: 0.8270
Epoch 33/50
700/700 [==============================] - 0s 324us/step - loss: 0.4134 - accuracy: 0.8273
Epoch 34/50
700/700 [==============================] - 0s 331us/step - loss: 0.4126 - accuracy: 0.8260
Epoch 35/50
700/700 [==============================] - 0s 324us/step - loss: 0.4123 - accuracy: 0.8281
Epoch 36/50
700/700 [==============================] - 0s 359us/step - loss: 0.4124 - accuracy: 0.8284
Epoch 37/50
700/700 [==============================] - 0s 330us/step - loss: 0.4114 - accuracy: 0.8266
Epoch 38/50
700/700 [==============================] - 0s 326us/step - loss: 0.4104 - accuracy: 0.8290
Epoch 39/50
700/700 [==============================] - 0s 330us/step - loss: 0.4108 - accuracy: 0.8273
Epoch 40/50
700/700 [==============================] - 0s 322us/step - loss: 0.4100 - accuracy: 0.8287
Epoch 41/50
700/700 [==============================] - 0s 322us/step - loss: 0.4088 - accuracy: 0.8270
Epoch 42/50
700/700 [==============================] - 0s 325us/step - loss: 0.4089 - accuracy: 0.8291
Epoch 43/50
700/700 [==============================] - 0s 326us/step - loss: 0.4082 - accuracy: 0.8286
Epoch 44/50
700/700 [==============================] - 0s 323us/step - loss: 0.4081 - accuracy: 0.8294
Epoch 45/50
700/700 [==============================] - 0s 328us/step - loss: 0.4072 - accuracy: 0.8317
Epoch 46/50
700/700 [==============================] - 0s 330us/step - loss: 0.4078 - accuracy: 0.8279
Epoch 47/50
700/700 [==============================] - 0s 327us/step - loss: 0.4070 - accuracy: 0.8279
Epoch 48/50
700/700 [==============================] - 0s 326us/step - loss: 0.4071 - accuracy: 0.8289
Epoch 49/50
700/700 [==============================] - 0s 344us/step - loss: 0.4067 - accuracy: 0.8316
Epoch 50/50
700/700 [==============================] - 0s 336us/step - loss: 0.4057 - accuracy: 0.8273

In [27]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

94/94 [==============================] - 0s 279us/step

In [28]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.837

In [29]:

from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.90      2416
           1       0.65      0.35      0.45       584

    accuracy                           0.84      3000
   macro avg       0.76      0.65      0.68      3000
weighted avg       0.82      0.84      0.82      3000

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
# Print confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

print("Confusion Matrix:\n", conf_matrix)