In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ns

In [12]:
df=pd.read_csv("Churn_Modelling.csv")

In [13]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [15]:
df = pd.get_dummies(df, columns=['Gender','Geography'])

In [16]:
df.shape

(10000, 14)

In [17]:
df.dtypes

CreditScore            int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Gender_Female          uint8
Gender_Male            uint8
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [18]:
def min_max_normalize( name ):
    global df
    df[name] = df[name].astype( 'float32' )
    df[ name ] = (df[ name ] - df[ name ].min()) / ( df[ name ].max() - df[ name ].min() )

cols = ["CreditScore", "Age", "Tenure", "Balance", "NumOfProducts", "HasCrCard", "EstimatedSalary"]
for col in cols:
    min_max_normalize(col)

In [19]:
from sklearn.model_selection import train_test_split

X = df.drop(["Exited"], axis=1).to_numpy().astype(np.float32)
y = df["Exited"].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(7000, 13)
(7000,)
(3000, 13)
(3000,)

In [20]:
from keras.models import Sequential
from keras.layers import Dense

ImportError: cannot import name 'tf2' from 'tensorflow.python' (unknown location)

In [ ]:
model = Sequential()
model.add(Dense(activation='relu', units=6))
model.add(Dense(activation='relu', units=6))
model.add(Dense(activation='sigmoid', units=1))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, batch_size=10, epochs=50)

In [ ]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:

from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))